<div class="container-login">
  <div class="card card-login border-primary text-center">
    <div class="card-body">
      <img src="../../assets/logo ksb.png" class="img-login m-3" alt="" />
      <h5 class="card-title">Dasbor Pembelajaran Daring</h5>
      <h6 class="card-subtitle mb-2 text-muted mb-5">
        Institut Bisnis dan Informatika Kwik Kian Gie
      </h6>
      <button type="button" class="btn btn-primary" (click)="login()">
        Masuk dengan Akun Google
      </button>
    </div>
  </div>
</div>
