<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ course.nama_mk }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ course.kode_mk }}</h6>
    <p class="card-text">
      Kelas/ruang: {{ course.kelas }}/{{ course.ruangan }}<br />
      Hari/waktu: {{ course.hari }},{{ course.mulai }}-{{ course.selesai
      }}<br />
    </p>
    <a
      [routerLink]="'/course/' + course.course_id"
      class="card-link btn btn-primary btn-sm"
      >Course Detail</a
    >
    <a href="#" class="card-link btn btn-outline-info btn-sm"
      >Open in Classroom</a
    >
  </div>
</div>
