<div class="row" *ngIf="!course">
  <div class="col-sm-12 text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Memproses...</span>
    </div>
  </div>
</div>
<div class="row py-3">
  <div class="col-sm-12" *ngIf="course">
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">
          <span class="badge badge-primary">
            {{ course.prodi }}
          </span>
          {{ course.kode_mk }}/{{ course.nama_mk }}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <strong>Kelas {{ course.kelas }}</strong>
        </h6>
        <p class="card-text">
          Jadwal Kuliah: {{ course.hari }}, {{ course.mulai }}-{{
            course.selesai
          }}
          <br />
          Ruangan: {{ course.ruangan }}
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header header-white" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              Dosen
            </button>
          </h2>
        </div>

        <div
          id="collapseOne"
          class="collapse show ml-4"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body p-1">
            <div
              *ngIf="!teachers"
              class="spinner-border text-primary m-3"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
            <ul *ngIf="teachers" class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let teacher of teachers">
                {{ titleCase(teacher.name.fullName) }} ({{
                  teacher.emailAddress
                }})
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header header-white" id="headingTwo">
          <h2 class="mb-0">
            <button
              class="btn btn-link text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Daftar Mahasiswa
            </button>
          </h2>
        </div>
        <div
          id="collapseTwo"
          class="collapse ml-4"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body p-1">
            <div
              *ngIf="!students"
              class="spinner-border text-primary m-3"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
            <ul *ngIf="students" class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let student of students">
                {{ titleCase(student.name.fullName) }} ({{
                  student.emailAddress
                }})
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header header-white" id="headingThree">
          <h2 class="mb-0">
            <button
              class="btn btn-link text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Tugas dan Latihan
            </button>
          </h2>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body p-1">
            <div
              *ngIf="!courseworks"
              class="spinner-border text-primary m-3"
              role="status"
            >
              <span class="sr-only">Memproses...</span>
            </div>
            <div *ngIf="courseworks" class="accordion" id="accordionCoursework">
              <div class="card" *ngFor="let coursework of courseworks">
                <div
                  class="card-header header-white p-1 ml-4"
                  [id]="'heading-' + coursework.id"
                >
                  <h2 class="mb-0">
                    <button
                      class="btn btn-link btn-block text-left"
                      type="button"
                      data-toggle="collapse"
                      [attr.data-target]="'#course-' + coursework.id"
                      aria-expanded="false"
                      [attr.aria-controls]="'course-' + coursework.id"
                    >
                      {{ coursework.title }} ({{
                        coursework.creationTime | date: "longDate"
                      }})
                    </button>
                  </h2>
                </div>

                <div
                  [id]="'course-' + coursework.id"
                  class="collapse ml-4"
                  [attr.aria-labelledby]="'heading-' + coursework.id"
                  data-parent="#accordionCoursework"
                >
                  <div class="card-body">
                    <div>
                      <strong>Deskripsi: </strong>
                      {{ coursework.description }}
                    </div>
                    <div *ngIf="coursework.dueDate">
                      <strong>Batas akhir: </strong>

                      {{
                        coursework.dueDate.month +
                          "/" +
                          coursework.dueDate.day +
                          "/" +
                          coursework.dueDate.year | date: "longDate"
                      }}
                      <span *ngIf="coursework.dueTime">
                        {{ coursework.dueTime.hours }}:{{
                          coursework.dueTime.minutes
                        }}
                      </span>
                    </div>
                    <div class="mt-2">
                      <a
                        class="btn btn-primary btn-sm"
                        [href]="coursework.alternateLink"
                        target="_blank"
                        >Buka di Classroom</a
                      >
                    </div>
                    <!-- <div *ngIf="coursework.materials">
                      <strong>Material:</strong>
                      {{ coursework.materials | json }}
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
