<div class="row mb-3">
  <div class="col-auto">
    <div class="input-group flex-nowrap">
      <div class="input-group-prepend mr-2">
        Cari kode/nama mata kuliah
      </div>
      <input type="text" name="filter" id="filter" [(ngModel)]="searchText" />
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group flex-nowrap">
      <div class="input-group-prepend mr-2">
        Program Studi
      </div>
      <select class="form-control form-control-sm" [(ngModel)]="searchProdi">
        <option *ngFor="let p of prodi">{{ p }}</option>
      </select>
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group flex-nowrap">
      <div class="input-group-prepend mr-2">
        Hari
      </div>
      <select class="form-control form-control-sm" [(ngModel)]="searchHari">
        <option *ngFor="let h of hari">{{ h }}</option>
      </select>
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group flex-nowrap">
      <a class="btn btn-outline-secondary btn-sm" (click)="clearFilter()"
        >Clear filter</a
      >
    </div>
  </div>
</div>
<div class="card-columns">
  <course-card
    *ngFor="
      let course of courses
        | resultFilter: searchText
        | prodiFilter: searchProdi
        | hariFilter: searchHari
    "
    [course]="course"
  ></course-card>
</div>
